 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <!--
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    -->
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <p>4+ years of experience working with Python. 2+ years of experience working with C++.
        Certified in JavaScript Algorithms and Data Structures. Novice in Java</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-gimp-plain colored"></i>
      <img src="https://img.icons8.com/color/75/000000/office-365.png"/>
      <i class="icon fa fa-video-camera"></i>
      <p>Plethora of experience with GIMP. Pretty good at MS Office Applications. Essential know-how about video editing.</p>
    </div>
</div>
