<div class="user-details">
  <h1> My Certifications </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="FCC Certificate" src="{{ "/assets/img/fcc certificate.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> JavaScript Algorithms and Data Structures </h3>
    <p> Earned the JavaScript Algorithms and Data Structures Developer Certificate from freeCodeCamp on 16th January, 2022. </p>
    <a class="project-link" href="https://freecodecamp.org/certification/fcc05e58cc9-6041-454f-9c3c-17d8f6a49f61/javascript-algorithms-and-data-structures" target="_blank">Check it out!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="NALSAR Certificate" src="{{ "/assets/img/nalsar certificate.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Online Course on Indian Consitution </h3>
    <p>Participated and Qualified with Merit, the Online Course on Indian Constitution conducted by Prof. Faizan Mustafa, Vice-Chancellor of NALSAR University of Law, Hyderabad.
Immensely insightful classes, presenting the major ideas and aspirations of our Constitution and its architects.</p>
    <a class="project-link" href="https://drive.google.com/file/d/14o9eZ_NTSuPdtvLKul5xg_75Mbe1iS_n/view" target="_blank">Check it out!</a>
  </div>
</div>
